<%- include('header') %>

<form method="GET" action="/cotacao">
    <input name="quote" required="required" placeholder="Cotação do Dólar" />
    <input name="amount" required="required"  placeholder="Quantidade de Dolares" />
    <button>Converter</button>
</form>


<%- include('footer') %>